---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Естетска стоматологија">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1725400919/close-up-smiley-patient-appointment_emzrqb.jpg">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2  class="lg:text-9xl text-5xl text-red-500 font-bold">Естетска стоматологија</h2>
        <p class="text-2xl hidden lg:flex mt-5"> 
          Оштетувањата на забите предизвикани од кариес, од траума можат доста успешно да се решаваат во подрачијетона естетската стоматологија.
        </p>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817183/molar-tooth-fissure-restoration-filling-600nw-2114097164_f3slpj.webp">
      <div>
        <h3 class="text-5xl mb-20 font-bold">Композитни (бели) пломби</h3>
        <p class="text-2xl">Композитиот е современ материјал кој во потполност зема замав пред темниот амалгам поради  целосната можност за имитирање на изгубената забна супстанца, подобрите механички својства, помалата потреба за брусење на забите и слично.</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817322/Untitled_lainsf.png">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Ламинати (фасети) и безметални керамички коронки</h3>
        <p class="text-2xl">Доколку не сте задоволни од бојата, формата или поставеноста на вашите предни заби, а сакате да се насмеете со широка насмевка, полна со самодоверба, тоа можете да го постигнете токму со овие конструкции.</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817366/istockphoto-1361598488-612x612_cjw7pe.jpg">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Белење на заби </h3>
        <p class="text-2xl">Долгогодишното пиење кафе, чај, црно вино, како и пушењето цигари оставило траги на вашите заби? Ние можеме да ви овозможиме да со употреба на најсовремени препарати и методи вашата насмевка повторно да стане сјајна.</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1733683475/jewelery-1_syt9pe.jpg">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Забен накит</h3>
        <p class="text-2xl">Вашата насмевка е баш таква каква би требало и да биде, но сакате да засјае со цел сјај? Токму таква насмевка можете да добиете на едноставен начин, со вградување на циркон односно на забен накит.
 Самото вградување е безболно, и апсолутно не го оштетува забот на кој се поставува.</p>
      </div>
    </Content>
  </div>
</Layout>
