---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Ласерска терапија">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727818056/lejzer_xu01vp.jpg">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2  class="lg:text-9xl text-5xl text-red-500 font-bold">Ласерска терапија</h2>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="">
      <div>
        <p class="text-2xl">Напредокот на ласерската технологија во последниот период дојде до степен неговата ефикасност да се користи и во секојдневната стоматолошка практика.  Кога ќе го споредиме со класичните методи на лекување во стоматологијата, пациентите со задоволство го прифаќаат од многу причини, а некои од нив се: скратено време на заздравување и помала потреба од анестезија. Во нашата ординација го користиме мекоткивниот ласер за повеќе употреби, како што се реконтурирање на гингива, корекција на линија на насмевка, обработка на парадонтални џебови, инцизија на абсцеси, стерилизација на коренски канали, третирање на АФТИ, третирање на ХЕРПЕС и многу други воспалителни промени во усната шуплина...</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727818057/laserrrr_Copy_cauq4v.png">
      <div>
        <p class="text-2xl">Се поголемата желба за беспрекорна бела насмевка конечно може да се добие со помош на ласерот кој овозможува побрзо, пократко и поуспешно дејство на средствата за белеење...</p>
      </div>
    </Content>


  </div>
</Layout>
