---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Пародонтологија">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817735/paradonttt_ouw6fn.png">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2  class="lg:text-9xl text-2xl text-red-500 font-bold">Пародонтологија</h2>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817734/paradont_lgzzqf.jpg">
      <div>
        <p class="text-2xl"> Тоа е многу битен дел од стоматолошките третмани без кој денес неможе да се замисли квалитетен и успешен конзервативно-протетски третман, а е поврзан со здравјето на забното месо (гингивата), коската и останатиот потпорен апарат.
 Терапијата се состои од  чистење на забен камен, обработка на  т.н. гингивални џебови, инструкции за оралната хигиена, локална апликација на лекови.</p>
      </div>
    </Content>


  </div>
</Layout>
