---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Dental Prosthetics">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817456/protetk_dzvbx1.png">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2 class="lg:text-9xl text-5xl text-red-500 font-bold">Dental Prosthetics</h2>
        <p class="text-2xl hidden lg:flex mt-5"> 
           Why should missing teeth be replaced? Because it disrupts the overall balance in the mouth, which becomes more pronounced over time, resulting in the need for longer, more complex, and more expensive treatment. The best solution is an implant, but if for some reason you cannot or do not want to, some of the following prosthetic solutions are available.
        </p>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817687/fiks_b4xlmv.png">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Fixed Prosthetics</h3>
        <p class="text-2xl">As the name suggests, this is a part of prosthetics where structures (crowns and bridges) are made that, once placed by the dentist, are not removed (except with special methods) and are felt by the patient as their own teeth. Aesthetics, durability, and quick adaptation are just some of the advantages of fixed over removable constructions.</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817689/mobil_bs9gva.png">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Removable Prosthetics</h3>
        <p class="text-2xl">This includes prosthetic constructions that the patient can remove from their mouth at any time. Dentures can be complete (made when all teeth are removed) or partial (made when a few teeth are removed, and there are no conditions for making a bridge).</p>
      </div>
    </Content>

  </div>
</Layout>
