---
import Layout from "../../layouts/home/Layout.astro"
import Contact from "../../layouts/home/Contact.astro"
import Home from "../../layouts/home/Home.astro"
import AboutUs from "../../layouts/home/AboutUs.astro"
import Philosophy from "../../layouts/home/Philosophy.astro"
import Reviews from "../../layouts/home/Reviews.astro"

const reviews: {
  name:string,
  content:string
}[] = [
    {
    name: "Milka Pancurova Ganceva ",
    content: "The best at what they do. Professional and responsible towards their patients. I wholeheartedly recommend them."
  },
    {
    name: "Nada Babulova",
    content: "I too became part of the wonderful atmosphere that exists in your clinic. A big applause for your expertise and professionalism."
  },
    {
    name: "Anica Doncheva",
content: "Big thank you for your professionalism. As a patient, I am extremely satisfied. I wholeheartedly recommend them."
  },
    {
    name: "Sasha Kostov",
    content: "The best in their work, unique in Strumica. Dr. Roksana Petkovska-Bozhinova and the staff provide top-notch service and quality..."
  },
  ]

---
<Layout title="Dr. Roksana Petkovska-Bozhinova">
  <Home>
        <h1 class=" text-red-500 font-bold 2xl:text-8xl text-7xl">Now your smile can be as beautiful as this!</h1>  
        <p class="text-2xl hidden lg:block mt-5">Experience the new trend in dentistry... enjoyment instead of fear of dental intervention</p>
  </Home>
  <Philosophy>
You enter excited and confused into an unfamiliar space... A pleasant voice and relaxing music greet you right from the door. You are guided to a comfortable chair where you are seated... Focused light illuminates you... and you have a slight feeling that it is hypnotizing you. The background sounds... easily... fade away, and so you slowly forget who you are, where you are, and why you are here. You think only about how comfortable you feel, and that you want to feel comfortable... and... and... you find out that the intervention is already over...
  </Philosophy>
  <AboutUs id="aboutUs" >
    <div id="aboutUs" class="w-full flex ">
      <div class="ml-10 mt-10">
        <h2  class="lg:text-9xl text-7xl sm:text-8xl mb-10 lg:mb-0 text-red-500 font-bold">About us</h2>
        <p class="text-2xl mt-5">The PZU "OOS Dr. Roksana Petkovska-Bozhinova" was established in 2005 by Dr. Roksana Petkovska-Bozhinova. That same year, it also signed a contract with the health insurance fund.
        </p>

        <p class="text-2xl mt-10"> As Your General Dental Practice, we are committed to using the latest methods and materials based on modern dentistry to achieve visible results. When we offer you a treatment, we take your wishes into account, explain the options available to you, their costs, so that you can make an informed choice.
        </p>
      </div>
    </div>
  </AboutUs>
  <div class="w-full lg:py-[96px] py-20 flex justify-center bg-red-500">
     <h2 class="lg:text-9xl text-7xl sm:text-8xl ml-5 lg:ml-0 text-white font-bold">Our team</h2>
  </div>
<div class="w-full px-10 lg:py-[96px] py-20 min-h-screen bg-red-500 text-white">
    
    <div class="pb-[96px]  lg:flex w-full">

      <div class="w-full mr-10 flex ">
        <img class="lg:h-[calc(100vh_-_96px)] mb-5 lg:mb-0 object-cover rounded-xl" src="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1726737838/roksana_pienb1.png"/>
      </div> 

      <div class="w-full ">
        <div class="text-white h-full flex items-center lg:mr-10 xl:mr-10 text-4xl">
          <div>
            <h3 class="text-6xl font-bold">Dr. Roksana Petkovska-Bozhinova</h3>
            <p class=" mt-10">Dr. Roksana Petkovska-Bozhinova graduated from the Faculty of Dentistry at "St. Cyril and Methodius" University in Skopje in 2001, and since then she has actively worked in several reputable dental practices in Strumica. In 2005, she established her own dental practice, PZU "OOS Dr. Roksana Petkovska-Bozhinova." <br>
Throughout her 24 years of professional experience, Dr. Roksana has participated in numerous domestic and international training courses in aesthetic and conservative dentistry, keeping up with the latest trends in modern dental practice. With a careful and patient approach towards her patients, she provides assurance and applies interventions in the fields of conservative dentistry, dental prosthetics, endodontics, pediatric, and preventive dentistry.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-[96px] lg:flex w-full">

      <div class="w-full lg:hidden justify-end flex ">
        <img class="lg:h-[calc(100vh_-_96px)] mb-5 lg:mb-0 object-cover rounded-xl" src="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1779463951/5_sgkufx.jpg"/>
      </div> 
      <div class="w-full lg:w-1/2">
        <div class="text-white lg:text-right h-full flex items-center lg:mr-10 text-4xl">
         <div>
            <h3 class="text-6xl font-bold">Dr. Mila Stojanova</h3>
<p class=" mt-10">Dr. Mila Stojanova is a doctor of general dentistry with over 8 years of work experience.<br> After graduation, Dr. Mila regularly participates in continuous professional development and successfully applies the latest trends in daily practice. <br> Calmness, confidence, and empathy are the main characteristics for which Dr. Mila is regularly sought after by our patients. </p>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-1/2 lg:pl-48 hidden justify-end lg:flex ">
        <img class="h-[calc(100vh_-_96px)] object-cover rounded-xl" src="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1779463951/5_sgkufx.jpg"/>
      </div> 

    </div>
    <div class=" lg:flex w-full">

      <div class="w-full lg:mr-10 xl:mr-10 flex lg:ml-10">
        <img class="lg:h-[calc(100vh_-_96px)]  mb-5 lg:mb-0 rounded-xl" src="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1722891351/280033374_3277192565841886_769857625062446696_n_tmygya.jpg"/>
      </div> 

      <div class="w-full ">
        <div class="text-white h-full flex items-center mr-10 text-4xl">
          <div>
            <h3 class="text-6xl font-bold">Tamara Stojanova</h3>
<p class=" mt-10">Tamara Stojanova is a dental nurse at PHI "OOS Dr. Roksana Petkovska-Bozhinova" who is in charge of the overall organization of work within the clinic. She has the first contact with patients in the office, and with her attentiveness and kind attitude, she reduces their fear right from the start. She is always persistent and persevering in her commitment to every area in the clinic.</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
<Reviews reviews={reviews} id="reviews">
      <h2 class="lg:text-9xl mt-10 lg:ml-10 ml-5 text-7xl sm:text-8xl text-red-500 font-bold mb-10">Reviews</h2>
  </Reviews>
  <Contact id="contact">
      <h2 class="lg:text-9xl mt-10 ml-10 text-7xl sm:text-8xl text-red-500 font-bold mb-10">Contact</h2>

    <div class="ml-10 ">
      <div class="text-2xl flex lg:mb-5 mb-10 items-center">
<svg class="w-10 h-10 mr-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
</svg>
Ul. „Marshal Tito“ 113, Strumica </div>
      <div class="text-2xl flex items-center lg:mb-5 mb-10">
<svg class="w-10 h-10 mr-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"/>
</svg>
        <div class="lg:flex"><a class="lg:mr-2 lg:mb-0" href="tel:+38970331923"> +38970 310 923</a> <p>/ 034 346 665</p>  </div></div>
      <div class="text-2xl flex items-center mb-10">
<svg class="w-10 h-10 mr-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/>
        </svg>
        <a href="mailto:roksanapb@yahoo.com">roksanapb@yahoo.com</a></div>
    <div class="flex">
      <a href="https://www.facebook.com/drroksana?locale=mk_MK"> 
<svg class="w-16 h-16 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
  <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
</svg>
</a>
      <a href="https://www.instagram.com/pzudr_roksana/" class="ml-5"> 
<svg class="w-16 h-16 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
</svg>
</a>
    </div>
    </div>
  </Contact>
</Layout>




