---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Laser Therapy">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727818056/lejzer_xu01vp.jpg">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2 class="lg:text-9xl text-5xl text-red-500 font-bold">Laser Therapy</h2>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="">
      <div>
        <p class="text-2xl">The advancement of laser technology in recent times has reached a level where its effectiveness is utilized in everyday dental practice. When compared to classic treatment methods in dentistry, patients gladly accept it for many reasons, some of which include shortened healing time and reduced need for anesthesia. In our office, we use a multifunctional laser for various applications, such as recontouring gums, correcting the smile line, treating periodontal pockets, incision of abscesses, sterilization of root canals, treating ulcers, treating herpes, and many other inflammatory changes in the oral cavity...</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727818057/laserrrr_Copy_cauq4v.png">
      <div>
        <p class="text-2xl">The increasing desire for a flawless white smile can finally be achieved with the help of laser technology, which enables faster, shorter, and more effective whitening treatments...</p>
      </div>
    </Content>

  </div>
</Layout>
