---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Periodontology">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817735/paradonttt_ouw6fn.png">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2 class="lg:text-9xl text-5xl text-red-500 font-bold">Periodontology</h2>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817734/paradont_lgzzqf.jpg">
      <div>
        <p class="text-2xl">This is a very important part of dental treatments without which a quality and successful conservative-prosthetic treatment cannot be imagined today, and it is related to the health of the gum tissue (gingiva), bone, and other supporting structures. The therapy consists of cleaning tartar, treating so-called gingival pockets, providing oral hygiene instructions, and local application of medications.</p>
      </div>
    </Content>

  </div>
</Layout>
