---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Αισθητική Οδοντιατρική">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1725400919/close-up-smiley-patient-appointment_emzrqb.jpg">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2 class="lg:text-9xl text-5xl text-red-500 font-bold">Αισθητική Οδοντιατρική</h2>
        <p class="text-2xl hidden lg:flex mt-5"> 
          Οι βλάβες των δοντιών που προκαλούνται από τερηδόνα ή τραύμα μπορούν να αντιμετωπιστούν με επιτυχία στον τομέα της αισθητικής οδοντιατρικής.
        </p>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817183/molar-tooth-fissure-restoration-filling-600nw-2114097164_f3slpj.webp">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Σύνθετες (λευκές) σφραγίδες</h3>
        <p class="text-2xl">Ο σύνθετος είναι ένα σύγχρονο υλικό που έχει αποκτήσει πλήρη δημοτικότητα σε σχέση με το σκούρο αμάλγαμα λόγω της ικανότητάς του να μιμείται την χαμένη οδοντική ουσία, των καλύτερων μηχανικών ιδιοτήτων, της μειωμένης ανάγκης για προετοιμασία των δοντιών και παρόμοιων πλεονεκτημάτων.</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817322/Untitled_lainsf.png">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Λαμίνες (φασέτες) και κεραμικές στεφάνες χωρίς μέταλλο</h3>
        <p class="text-2xl">Αν δεν είστε ικανοποιημένοι με το χρώμα, το σχήμα ή τη θέση των μπροστινών δοντιών σας και θέλετε να χαμογελάτε με αυτοπεποίθηση, μπορείτε να το πετύχετε ακριβώς με αυτές τις κατασκευές.</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817366/istockphoto-1361598488-612x612_cjw7pe.jpg">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Λεύκανση δοντιών</h3>
        <p class="text-2xl">Η χρόνια κατανάλωση καφέ, τσαγιού και κόκκινου κρασιού, καθώς και το κάπνισμα έχουν αφήσει σημάδια στα δόντια σας; Μπορούμε να σας βοηθήσουμε να επαναφέρετε τη λάμψη του χαμόγελού σας με τη χρήση των πιο σύγχρονων προϊόντων και μεθόδων.</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1733683475/jewelery-1_syt9pe.jpg">
      <div>
        <h3 class="text-5xl mb-20 font-bold">Οδοντιατρική κοσμητική</h3>
        <p class="text-2xl">Το χαμόγελό σας είναι ακριβώς όπως θα έπρεπε να είναι, αλλά θέλετε να λάμψει ακόμη περισσότερο; Αυτό μπορείτε να το πετύχετε με απλό τρόπο, τοποθετώντας ζιρκόνιο ή οδοντιατρικό κόσμημα. Η διαδικασία είναι ανώδυνη και δεν βλάπτει το δόντι στο οποίο τοποθετείται.</p>
      </div>
    </Content>
  </div>
</Layout>
