---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Οδοντικές Προθέσεις">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817456/protetk_dzvbx1.png">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2 class="lg:text-9xl text-5xl text-red-500 font-bold">Οδοντικές Προθέσεις</h2>
        <p class="text-2xl hidden lg:flex mt-5"> 
          Γιατί πρέπει να αντικαθίστανται τα χαμένα δόντια; Διότι διαταράσσουν τη συνολική ισορροπία στο στόμα, κάτι που γίνεται πιο έντονο με την πάροδο του χρόνου, οδηγώντας στην ανάγκη για μεγαλύτερες, πιο πολύπλοκες και πιο ακριβής θεραπείες. Ως καλύτερη λύση είναι ένα εμφύτευμα, αλλά αν για κάποιο λόγο δεν μπορείτε ή δεν θέλετε, είναι διαθέσιμες κάποιες από τις παρακάτω προσθετικές λύσεις.
        </p>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817687/fiks_b4xlmv.png">
      <div>
        <h3 class="text-6xl mb-20 font-bold">Σταθερές Προθέσεις</h3>
        <p class="text-2xl">Όπως υποδηλώνει το όνομα, αυτή είναι μια κατηγορία προσθέσεων όπου κατασκευάζονται δομές (κορώνες και γέφυρες) που, μόλις τοποθετηθούν από τον οδοντίατρο, δεν αφαιρούνται (εκτός με ειδικές μεθόδους) και γίνονται αισθητές από τον ασθενή ως τα δικά του δόντια. Η αισθητική, η αντοχή και η γρήγορη προσαρμογή είναι μερικά μόνο από τα πλεονεκτήματα των σταθερών σε σχέση με τις αποσπώμενες κατασκευές.</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727817689/mobil_bs9gva.png">
      <div>
        <h3 class="text-5xl mb-20 font-bold">Αποσπώμενες Προθέσεις</h3>
        <p class="text-2xl">Αυτό περιλαμβάνει προσθετικές κατασκευές που ο ασθενής μπορεί να αφαιρέσει από το στόμα του ανά πάσα στιγμή. Οι οδοντοστοιχίες μπορούν να είναι πλήρεις (κατασκευάζονται όταν έχουν αφαιρεθεί όλα τα δόντια) ή μερικές (κατασκευάζονται όταν έχουν αφαιρεθεί λίγα δόντια και δεν υπάρχουν προϋποθέσεις για την κατασκευή γέφυρας).</p>
      </div>
    </Content>

  </div>
</Layout>
