---
// import "@/styles/app.css"
import Layout from "../../layouts/home/Layout.astro"
import Intro from "../../layouts/interventions_layouts/Intro.astro"
import Content from "../../layouts/interventions_layouts/Content.astro"
---
<Layout title="Θεραπεία με Λέιζερ">
  <Intro imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727818056/lejzer_xu01vp.jpg">
    <div class="lg:w-full lg:h-full items-center lg:flex ">
      <div class="lg:ml-10 lg:mt-10">
        <h2 class="lg:text-9xl text-5xl text-red-500 font-bold">Θεραπεία με Λέιζερ</h2>
      </div>
    </div>
  </Intro>
  <div class="w-full bg-red-500 py-[96px] min-h-screen ">
    <Content imgSrc="">
      <div>
        <p class="text-2xl">Η πρόοδος της τεχνολογίας λέιζερ το τελευταίο διάστημα έχει φτάσει σε ένα επίπεδο όπου η αποτελεσματικότητά της χρησιμοποιείται στην καθημερινή οδοντιατρική πρακτική. Σε σύγκριση με τις κλασικές μεθόδους θεραπείας στην οδοντιατρική, οι ασθενείς την αποδέχονται με χαρά για πολλούς λόγους, μερικοί από τους οποίους περιλαμβάνουν τη συντομότερη περίοδο επούλωσης και τη μειωμένη ανάγκη για αναισθησία. Στην κλινική μας, χρησιμοποιούμε έναν πολυλειτουργικό λέιζερ για διάφορες εφαρμογές, όπως επανασχεδίαση των ούλων, διόρθωση της γραμμής του χαμόγελου, θεραπεία περιοδοντικών θυλάκων, τομή αποστημάτων, αποστείρωση ριζικών καναλιών, θεραπεία ελκών, θεραπεία έρπη και πολλές άλλες φλεγμονώδεις αλλαγές στην στοματική κοιλότητα...</p>
      </div>
    </Content>

    <Content imgSrc="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1727818057/laserrrr_Copy_cauq4v.png">
      <div>
        <p class="text-2xl">Η αυξανόμενη επιθυμία για ένα τέλειο λευκό χαμόγελο μπορεί τελικά να επιτευχθεί με τη βοήθεια της τεχνολογίας λέιζερ, η οποία επιτρέπει ταχύτερες, πιο σύντομες και πιο αποτελεσματικές θεραπείες λεύκανσης...</p>
      </div>
    </Content>

  </div>
</Layout>
