---
  import Map from "../../components/Map.svelte"
   const { id } = Astro.props
---

<div id={id} class="w-full mt-20 h-[calc(100vh_-_120px)] lg:flex">
  <div class="lg:w-1/2 full">
    <slot/>
  </div> 
  <div class="lg:w-1/2 w-full flex h-full my-14 lg:my-0 justify-center items-center">
    <Map client:only="svelte"/>
  </div>
</div>
