<div class="hidden lg:block">
  <div class="w-full h-screen pt-[96px] flex"> 
    <div class="w-1/2 flex items-center justify-center h-[calc(100vh_-_120px)]  ">
      <div class="ml-10">
        <slot/>
      </div> 
    </div>
    <div class="w-1/2 flex justify-end h-[calc(100vh_-_96px)]  ">
      <img class="object-cover h-full" src="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1722693063/dentist-with-smile_m9hdbc.jpg"></img>
    </div
    <div>
    </div>
  </div>
</div>
<div class="lg:hidden w-full h-screen pt-[96px]">
    <div class="h-[calc(100vh_-_96px)] relative ">
      <img class="object-cover  w-full h-full" src="https://res.cloudinary.com/dxvfgwkpx/image/upload/v1722693063/dentist-with-smile_m9hdbc.jpg"></img>
    <div class="absolute top-0 bg-white bg-opacity-50 text-center flex w-full justify-center items-center h-full">
        <slot/>
      </div>
      
    </div>
</div>
